In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [4]:
csv_file = "./Resources/CBBTCUSD.csv"
Bitcoin_df = pd.read_csv(csv_file)
Bitcoin_df.head()

         DATE  CBBTCUSD
0  2015-08-19    227.34
1  2015-08-20    235.56
2  2015-08-21    232.85
3  2015-08-22    231.15
4  2015-08-23    229.21

In [5]:
csv_file_2 = "./Resources/Ethereum Historical Data.csv"
Ethereum_df = pd.read_csv(csv_file_2)
Ethereum_df.head()

           Date   Price    Open    High     Low    Vol. Change %
0  Aug 02, 2020  368.23  387.15  415.08  335.76  16.78M   -4.88%
1  Aug 01, 2020  387.14  346.48  392.37  343.33  11.03M   11.73%
2  Jul 31, 2020  346.51  334.84  349.34  329.02   8.69M    3.48%
3  Jul 30, 2020  334.87  317.79  341.11  314.83   9.07M    5.36%
4  Jul 29, 2020  317.82  316.95  324.93  312.64   8.72M    0.27%

### Create new data with select columns

In [6]:
Bitcoin_exct = Bitcoin_df[['DATE', 'CBBTCUSD']].copy()
Bitcoin_exct.head()

         DATE  CBBTCUSD
0  2015-08-19    227.34
1  2015-08-20    235.56
2  2015-08-21    232.85
3  2015-08-22    231.15
4  2015-08-23    229.21

In [7]:
Ethereum_exct = Ethereum_df[['Date','Price']].copy()
Ethereum_exct.head()

           Date   Price
0  Aug 02, 2020  368.23
1  Aug 01, 2020  387.14
2  Jul 31, 2020  346.51
3  Jul 30, 2020  334.87
4  Jul 29, 2020  317.82

### Clean DataFrame

### Connect to local database

In [12]:
connection="postgress:*****@localhost:5432/ETL_Project"
engine=create_engine(f'postgresql://{connection}')

### Check for tables

In [13]:
engine.table_names

### Use pandas to load csv converted DataFrame into database

### Confirm data has been added 
* NOTE: can also check using pgAdmin